<div class="flex flex-col lg:w-1/2 w-full mt-2 text-[15px] gap-8">
    <!-- Introduction -->
    <div class="flex flex-col gap-5 w-full">
        <span class="text-xl text-project-licorice-500 font-semibold">{{ 'privacy-details.introduction.title' | transloco }}</span>
        <div class="flex flex-col gap-5">
            <span class="text-project-waterloo">
                {{ 'privacy-details.introduction.body' | transloco }}
            </span>
            <span class="text-project-waterloo">
                {{ 'privacy-details.introduction.sub-body' | transloco }}
            </span>
        </div>
    </div>

    <!-- Intellectual Property Rights -->
    <div class="flex flex-col gap-5 w-full">
        <span class="text-xl text-project-licorice-500 font-semibold">{{ 'privacy-details.intellectual-property-rights.title' | transloco }}</span>
        <div class="flex flex-col gap-5">
            <span class="text-project-waterloo">
                {{ 'privacy-details.intellectual-property-rights.body' | transloco }}
            </span>
            <span class="text-project-waterloo">
                {{ 'privacy-details.intellectual-property-rights.sub-body' | transloco }}
            </span>
        </div>
    </div>

    <!-- Restrictions -->
    <div class="flex flex-col gap-5 w-full">
        <span class="text-xl text-project-licorice-500 font-semibold">{{ 'privacy-details.restrictions.title' | transloco }}</span>
        <div class="flex flex-col gap-5">
            <div>
                <span class="text-project-waterloo">
                    {{ 'privacy-details.restrictions.body' | transloco }}
                </span>
                <ul class="list-disc ml-6">
                    <li class="text-project-waterloo">{{ 'privacy-details.restrictions.body-specification.1' | transloco }}</li>
                    <li class="text-project-waterloo">{{ 'privacy-details.restrictions.body-specification.2' | transloco }}</li>
                    <li class="text-project-waterloo">{{ 'privacy-details.restrictions.body-specification.3' | transloco }}</li>
                    <li class="text-project-waterloo">{{ 'privacy-details.restrictions.body-specification.4' | transloco }}</li>
                    <li class="text-project-waterloo">{{ 'privacy-details.restrictions.body-specification.5' | transloco }}</li>
                    <li class="text-project-waterloo">{{ 'privacy-details.restrictions.body-specification.6' | transloco }}</li>
                    <li class="text-project-waterloo">{{ 'privacy-details.restrictions.body-specification.7' | transloco }}</li>
                </ul>
            </div>

            <span class="text-project-waterloo">{{ 'privacy-details.restrictions.sub-body' | transloco }}</span>
        </div>
    </div>

    <!-- Your Content -->
    <div class="flex flex-col gap-5 w-full">
        <span class="text-xl text-project-licorice-500 font-semibold">{{ 'privacy-details.your-content.title' | transloco }}</span>
        <div class="flex flex-col gap-5">
            <span class="text-project-waterloo">
                {{ 'privacy-details.your-content.body' | transloco }}
            </span>
            <span class="text-project-waterloo">
                {{ 'privacy-details.your-content.sub-body' | transloco }}
            </span>
        </div>
    </div>

    <!-- No Warranties -->
    <div class="flex flex-col gap-5 w-full">
        <span class="text-xl text-project-licorice-500 font-semibold">{{ 'privacy-details.no-warranty.title' | transloco }}</span>
        <span class="text-project-waterloo">
            {{ 'privacy-details.no-warranty.body' | transloco }}
        </span>
    </div>

    <!-- Limitation of liability -->
    <div class="flex flex-col gap-5 w-full">
        <span class="text-xl text-project-licorice-500 font-semibold">{{ 'privacy-details.limitation-liability.title' | transloco }}</span>
        <span class="text-project-waterloo">
            {{ 'privacy-details.limitation-liability.body' | transloco }}
        </span>
    </div>

    <!-- Indemnification -->
    <div class="flex flex-col gap-5 w-full">
        <span class="text-xl text-project-licorice-500 font-semibold">{{ 'privacy-details.indemnification.title' | transloco }}</span>
        <span class="text-project-waterloo">
            {{ 'privacy-details.indemnification.body' | transloco }}
        </span>
    </div>

    <!-- Severability -->
    <div class="flex flex-col gap-5 w-full">
        <span class="text-xl text-project-licorice-500 font-semibold">{{ 'privacy-details.severability.title' | transloco }}</span>
        <span class="text-project-waterloo">
            {{ 'privacy-details.severability.body' | transloco }}
        </span>
    </div>

    <!-- Variation of Terms -->
    <div class="flex flex-col gap-5 w-full">
        <span class="text-xl text-project-licorice-500 font-semibold">{{ 'privacy-details.variation.title' | transloco }}</span>
        <span class="text-project-waterloo">
            {{ 'privacy-details.variation.body' | transloco }}
        </span>
    </div>

    <!-- Assignment-->
    <div class="flex flex-col gap-5 w-full">
        <span class="text-xl text-project-licorice-500 font-semibold">{{ 'privacy-details.assignment.title' | transloco }}</span>
        <span class="text-project-waterloo">
            {{ 'privacy-details.assignment.body' | transloco }}
        </span>
    </div>

    <!-- Entire Agreement -->
    <div class="flex flex-col gap-5 w-full">
        <span class="text-xl text-project-licorice-500 font-semibold">{{ 'privacy-details.entire-agreement.title' | transloco }}</span>
        <span class="text-project-waterloo">
            {{ 'privacy-details.entire-agreement.body' | transloco }}
        </span>
    </div>

    <!-- Governing Law & Jurisdiction -->
    <div class="flex flex-col gap-5 w-full">
        <span class="text-xl text-project-licorice-500 font-semibold">{{ 'privacy-details.governing-law.title' | transloco }}</span>
        <span class="text-project-waterloo">
            {{ 'privacy-details.governing-law.body' | transloco }}
        </span>
    </div>
</div>
