@if ($isMobile()) {
    <div class="flex flex-col w-full my-5">
        <form [formGroup]="filtersForm">
            <div class="grid grid-cols-1 w-full items-center gap-2.5">
                <div class="dropdown">
                    <div tabindex="0" role="button" class="w-full">
                        <label class="input input-bordered flex items-center gap-2 w-full h-[34px] min-h-[34px]">
                            <input type="text" [value]="filtersForm?.value?.store?.name ?? null"
                                   class="grow max-w-full cursor-pointer font-plex" readonly
                                   placeholder="{{ 'store-visits.select-store' | transloco }}"/>
                            @if (filtersForm?.value?.store) {
                                <mat-icon svgIcon="close-modal" class="icon-size-4 cursor-pointer"
                                          (click)="resetFormControl('store')"></mat-icon>
                            }
                            <mat-icon svgIcon="arrow_drop_down"></mat-icon>
                        </label>
                    </div>
                    <ul tabindex="0"
                        class="dropdown-content menu bg-white rounded z-10 w-full max-h-50 p-2 shadow flex flex-row overflow-y-auto font-plex">
                        @for (store of $stores(); track store.uuid) {
                            <li class="w-full hover:bg-[#4237DA33] rounded hover:text-project-youngBlue"
                                (click)="setFormControlName('store', store)">
                                <a class="flex justify-between">
                                    {{ store.name }}
                                    @if (filtersForm.value.store === store) {
                                        <mat-icon svgIcon="check" class="icon-size-4 icon-color"></mat-icon>
                                    }
                                </a>
                            </li>
                        }
                    </ul>
                </div>
                <div class="flex gap-2.5 w-full">
                    <div class="w-1/2">
                        <label class="input input-bordered flex items-center gap-2 font-plex h-[34px] min-h-[34px]">
                            <mat-icon svgIcon="calender" class="icon-size-5"></mat-icon>
                            <input [matDatepicker]="pickerStart" (click)="pickerStart.open()"
                                   formControlName="startDate"
                                   class="grow max-w-2/3 cursor-pointer" readonly
                                   placeholder="{{ 'store-visits.date-from' | transloco }}"
                                   [max]="filtersForm.value.endDate"/>
                            <mat-datepicker #pickerStart class="custom-picker"></mat-datepicker>
                            @if (filtersForm?.value?.startDate) {
                                <mat-icon svgIcon="close-modal" class="icon-size-4 cursor-pointer"
                                          (click)="resetFormControl('startDate')"></mat-icon>
                            }
                        </label>
                    </div>
                    <div class="w-1/2 pr-2">
                        <label class="input input-bordered flex items-center gap-2 font-plex h-[34px] min-h-[34px]">
                            <mat-icon svgIcon="arrow-right" class="icon-size-4"></mat-icon>
                            <input [matDatepicker]="pickerEnd" (click)="pickerEnd.open()" formControlName="endDate"
                                   class="grow max-w-2/3 cursor-pointer" readonly
                                   placeholder="{{ 'store-visits.date-to' | transloco }}"
                                   [min]="filtersForm.value.startDate"/>
                            <mat-datepicker #pickerEnd></mat-datepicker>
                            @if (filtersForm?.value?.endDate) {
                                <mat-icon svgIcon="close-modal" class="icon-size-4 cursor-pointer"
                                          (click)="resetFormControl('endDate')"></mat-icon>
                            }
                        </label>
                    </div>
                </div>
                <button
                    class="btn border-project-licorice-900 bg-white text-project-licorice-900 text-lg font-normal px-5 font-plex w-full h-9 min-h-9"
                    (click)="searchByFilter()">{{ 'misc.search' | transloco }}
                </button>
            </div>
        </form>

        <div class="w-full mt-7">
            @if (dataSource.data.length > 0) {
                <atl-ng-table class="custom-table"
                              [tableConfiguration]="tableConfiguration"
                              [bodyCustomTemplate]="bodyCustomTemplate"
                              (onSortAndPageChange)="onSortAndPageChange($event)"
                              [totalPages]="totalPages"
                              [totalSize]="totalSize"
                              [resetPaginator]="page$ | async"
                />
                <ng-template #bodyCustomTemplate let-implicit>
                    @switch (implicit.column.id) {
                        @case ('refId') {
                            <span class="text-lg font-plex">{{ implicit.row.reference }}</span>
                        }
                        @case ('storeName') {
                            <span class="text-lg font-semibold font-plex">{{ implicit.row.store.name }}</span>
                        }
                        @case ('purchased') {
                            @if (implicit.rowVal) {
                                <mat-icon svgIcon="success" class="icon-size-6"></mat-icon>
                            } @else {
                                <mat-icon svgIcon="close-modal" class="icon-size-5"></mat-icon>
                            }
                        }
                        @case ('dateTime') {
                            <span
                                class="text-[12pxx] text-project-waterloo font-plex"> {{ implicit.row.dateTime | date: 'd MMM, yyyy · HH:mm:ss' }} </span>
                        }
                    }
                </ng-template>
            } @else if (dataSource.data.length === 0 && !isSearched) {
                <div class="flex flex-col gap-5 mt-8">
                <span class="text-xl text-project-licorice-900 font-semibold font-plex">
                    {{ 'store-visits.nothing-here' | transloco }}
                </span>
                    <span class="text-md text-project-waterloo w-80 font-plex">
                    {{ 'store-visits.nothing-here-body' | transloco }}
                </span>
                </div>
            } @else if (dataSource.data.length === 0 && isSearched) {
                <div class="flex flex-col gap-5 mt-8">
                <span class="text-xl text-project-licorice-900 font-semibold font-plex">
                    {{ 'store-visits.no-results' | transloco }}
                </span>
                    <span class="text-md text-project-waterloo w-80 font-plex">
                    {{ 'store-visits.no-results-body' | transloco }}
                </span>
                </div>
            }
        </div>
    </div>
} @else {
    <div class="flex flex-col w-full my-5">
        <form [formGroup]="filtersForm" class="">
            <div
                class="grid grid-cols-2 lg:grid-cols-[1fr_1fr_1fr_0.5fr] xl:flex xl:flex-row w-full items-center gap-5">
                <div class="dropdown">
                    <div tabindex="0" role="button" class="w-80">
                        <label class="input input-bordered flex items-center gap-2 w-full">
                            <input type="text" [value]="filtersForm?.value?.store?.name ?? null"
                                   class="grow max-w-full cursor-pointer font-plex" readonly
                                   placeholder="{{ 'store-visits.select-store' | transloco }}"/>
                            @if (filtersForm?.value?.store) {
                                <mat-icon svgIcon="close-modal" class="icon-size-4 cursor-pointer"
                                          (click)="resetFormControl('store')"></mat-icon>
                            }
                            <mat-icon svgIcon="arrow_drop_down"></mat-icon>
                        </label>
                    </div>
                    <ul tabindex="0"
                        class="dropdown-content menu bg-white rounded z-10 w-80 max-h-50 p-2 shadow flex flex-row overflow-y-auto font-plex">
                        @for (store of $stores(); track store.uuid) {
                            <li class="w-full hover:bg-[#4237DA33] rounded hover:text-project-youngBlue"
                                (click)="setFormControlName('store', store)">
                                <a class="flex justify-between">
                                    {{ store.name }}
                                    @if (filtersForm.value.store === store) {
                                        <mat-icon svgIcon="check" class="icon-size-4 icon-color"></mat-icon>
                                    }
                                </a>
                            </li>
                        }
                    </ul>
                </div>
                <div class="w-80">
                    <label class="input input-bordered flex items-center gap-2 w-full font-plex">
                        <mat-icon svgIcon="calender" class="icon-size-5"></mat-icon>
                        <input [matDatepicker]="pickerStart" (click)="pickerStart.open()" formControlName="startDate"
                               class="grow max-w-full cursor-pointer" readonly
                               placeholder="{{ 'store-visits.date-from' | transloco }}"
                               [max]="filtersForm.value.endDate"/>
                        <mat-datepicker #pickerStart class="custom-picker"></mat-datepicker>
                        @if (filtersForm?.value?.startDate) {
                            <mat-icon svgIcon="close-modal" class="icon-size-4 cursor-pointer"
                                      (click)="resetFormControl('startDate')"></mat-icon>
                        }
                    </label>
                </div>
                <div class="w-80">
                    <label class="input input-bordered flex items-center gap-2 w-full font-plex">
                        <mat-icon svgIcon="arrow-right" class="icon-size-4"></mat-icon>
                        <input [matDatepicker]="pickerEnd" (click)="pickerEnd.open()" formControlName="endDate"
                               class="grow max-w-full cursor-pointer" readonly
                               placeholder="{{ 'store-visits.date-to' | transloco }}"
                               [min]="filtersForm.value.startDate"/>
                        <mat-datepicker #pickerEnd></mat-datepicker>
                        @if (filtersForm?.value?.endDate) {
                            <mat-icon svgIcon="close-modal" class="icon-size-4 cursor-pointer"
                                      (click)="resetFormControl('endDate')"></mat-icon>
                        }
                    </label>
                </div>
                <button
                    class="btn border-project-licorice-900 bg-white text-project-licorice-900 text-lg font-normal px-5 font-plex lg:max-w-fit w-full lg:h-10 h-8 lg:max-h-10 min-h-8"
                    (click)="searchByFilter()">{{ 'misc.search' | transloco }}
                </button>
            </div>
        </form>

        <div class="w-full mt-8">
            @if (dataSource.data.length > 0) {
                <atl-ng-table class="custom-table"
                              [tableConfiguration]="tableConfiguration"
                              [bodyCustomTemplate]="bodyCustomTemplate"
                              (onSortAndPageChange)="onSortAndPageChange($event)"
                              [totalPages]="totalPages"
                              [totalSize]="totalSize"
                              [resetPaginator]="page$ | async"
                />
                <ng-template #bodyCustomTemplate let-implicit>
                    @switch (implicit.column.id) {
                        @case ('refId') {
                            <span class="text-xl font-plex">{{ implicit.row.reference }}</span>
                        }
                        @case ('storeName') {
                            <span class="text-xl font-semibold font-plex">{{ implicit.row.store.name }}</span>
                        }
                        @case ('purchased') {
                            @if (implicit.rowVal) {
                                <mat-icon svgIcon="success" class="icon-size-6"></mat-icon>
                            } @else {
                                <mat-icon svgIcon="close-modal" class="icon-size-5"></mat-icon>
                            }
                        }
                        @case ('dateTime') {
                            <span
                                class="text-xl text-project-waterloo font-plex"> {{ implicit.row.dateTime | date: 'd MMM, yyyy · HH:mm:ss' }} </span>
                        }
                    }
                </ng-template>
            } @else if (dataSource.data.length === 0 && !isSearched) {
                <div class="flex flex-col gap-5 mt-8">
                <span class="text-xl text-project-licorice-900 font-semibold font-plex">
                    {{ 'store-visits.nothing-here' | transloco }}
                </span>
                    <span class="text-md text-project-waterloo w-80 font-plex">
                    {{ 'store-visits.nothing-here-body' | transloco }}
                </span>
                </div>
            } @else if (dataSource.data.length === 0 && isSearched) {
                <div class="flex flex-col gap-5 mt-8">
                <span class="text-xl text-project-licorice-900 font-semibold font-plex">
                    {{ 'store-visits.no-results' | transloco }}
                </span>
                    <span class="text-md text-project-waterloo w-80 font-plex">
                    {{ 'store-visits.no-results-body' | transloco }}
                </span>
                </div>
            }
        </div>
    </div>
}
