<div class="w-full">
    <apx-chart id="chart"
               [series]="$chartOptions()?.series"
               [chart]="$chartOptions()?.chart"
               [xaxis]="$chartOptions()?.xAxis"
               [dataLabels]="$chartOptions()?.dataLabels"
               [grid]="$chartOptions()?.grid"
               [stroke]="$chartOptions()?.stroke"
               [title]="$chartOptions()?.title"
               [yaxis]="$chartOptions()?.yAxis"
               [tooltip]="$chartOptions()?.tooltip"
               [legend]="$chartOptions()?.legends"
    ></apx-chart>
</div>
