<div class="w-full pb-8">
    <div class="flex justify-end max-h-[74px]">
<!--        <h3 class="flex items-center justify-center text-3xl">{{ 'store.stores' | transloco }}</h3>-->
        <div class="flex gap-4 lg:w-auto w-full">
            <button
                class="py-2.5 px-3 lg:px-10 w-1/3 lg:w-auto bg-project-licorice-500 text-white rounded  textButton text-center cursor-pointer my-4 lg:text-base text-sm"
                (click)="exportExcel()">
                {{ 'store.export-excel' | transloco }}
            </button>
            <button
                class="py-2.5 px-3 lg:px-10 w-1/3 lg:w-auto bg-project-licorice-500 text-white rounded  textButton text-center cursor-pointer my-4 lg:text-base text-sm"
                (click)="openUploadExcelDialog()">
                {{ 'store.upload-excel' | transloco }}
            </button>
            <button
                class="py-2.5 px-3 lg:px-10 w-1/3 lg:w-auto bg-project-licorice-500 text-white rounded  textButton text-center cursor-pointer my-4 lg:text-base text-sm"
                (click)="openEditStoreDialog()">
                {{ 'store.new-store' | transloco }}
            </button>
        </div>
    </div>
    <form [formGroup]="searchForm" class="flex justify-end items-center gap-5 mt-4 mb-1">
        <label class="input input-bordered flex items-center gap-2">
            <mat-icon svgIcon="search"></mat-icon>
            <input type="text" class="grow" placeholder="{{ 'misc.search' | transloco }}"
                   [formControl]="searchControl" />
        </label>
    </form>
    <div class="">
        <atl-ng-table *ngIf="$tableConfig()"
                      class="custom-table"
                      id="table"
                      [tableConfiguration]="$tableConfig()"
                      [bodyCustomTemplate]="bodyCustomTemplate"
                      [totalPages]="total"
                      [totalSize]="totalSize"
                      [resetPaginator]="page$ | async"
                      (onActionClick)="clickTableAction($event)"
                      (onSortAndPageChange)="onSortAndPageChange($event)" />
    </div>
</div>


<ng-template #bodyCustomTemplate let-implicit>
    @switch (implicit.column.id) {
        @case ('name') {
            <span class="text-base">{{ implicit.rowVal }}</span>
        }
        @case ('partner') {
            <span class="text-base">{{ implicit.rowVal }}</span>
        }
        @case ('description') {
            <div class="text-base line-clamp-3" [innerHTML]="implicit.rowVal">
            </div>
        }
        @case ('country') {
            <span
                [matTooltip]="implicit?.rowVal?.join(', ')"
                matTooltipPosition="above"
                class="text-base">{{ implicit?.rowVal?.slice(0, implicit?.rowVal?.length > 3 ? 3 : implicit?.rowVal?.length).join(', ') }}</span>

        }
    }
</ng-template>
