<!-- Loading bar -->
<fuse-loading-bar></fuse-loading-bar>

@if (isScreenSmall) {
    <div class="flex w-full flex-auto justify-center bg-project-splashScreen">

        <div
            class="flex flex-auto flex-col items-start overflow-hidden"
        >

            @if (isScreenSmall) {
                <button
                    class="icon-size-6 mt-2 mx-3"
                    (click)="toggleNavigation('mainNavigation')"
                >
                    <mat-icon [svgIcon]="'heroicons_outline:menu'"></mat-icon>
                </button>
            }

            <!-- Navigation -->
            <fuse-vertical-navigation
                class="bg-project-splashScreen print:hidden min-w-[100px]"
                [appearance]="'thin'"
                [mode]="isScreenSmall ? 'over' : 'side'"
                [name]="'mainNavigation'"
                [navigation]="$isShop() ? navigation.compactShop : navigation.compact"
                [opened]="!isScreenSmall"
            >
                <!-- Navigation header hook -->
                <ng-container fuseVerticalNavigationContentHeader>
                    <!-- Logo -->
                    <div class="flex h-20 items-center justify-center">
                        <img class="w-8" src="../../../../assets/images/logo/logo_vertical.svg" alt="Logo image" />
                    </div>
                </ng-container>

                <ng-container fuseVerticalNavigationContentFooter>
                    <user [$isShop]="$isShop()"></user>
                </ng-container>

            </fuse-vertical-navigation>

            <!-- Wrapper -->
            <div class="flex w-full min-w-0 flex-auto flex-col bg-project-splashScreen">

                <!-- Content -->
                <div class="flex flex-auto flex-col bg-white m-2 rounded-[40px]">
                    <!-- *ngIf="true" hack is required here for router-outlet to work correctly.
                         Otherwise, layout changes won't be registered and the view won't be updated! -->
                    @if (true) {
                        <router-outlet></router-outlet>
                    }
                </div>

            </div>
        </div>
    </div>
} @else {
    <fuse-vertical-navigation
        class="bg-project-splashScreen print:hidden min-w-[100px]"
        [appearance]="'thin'"
        [mode]="isScreenSmall ? 'over' : 'side'"
        [name]="'mainNavigation'"
        [navigation]="$isShop() ? navigation.compactShop : navigation.compact"
        [opened]="!isScreenSmall"
    >
        <!-- Navigation header hook -->
        <ng-container fuseVerticalNavigationContentHeader>
            <!-- Logo -->
            <div class="flex h-20 items-center justify-center">
                <img class="w-8" src="../../../../assets/images/logo/logo_vertical.svg" alt="Logo image" />
            </div>
        </ng-container>

        <ng-container fuseVerticalNavigationContentFooter>
            <user [$isShop]="$isShop()"></user>
        </ng-container>
    </fuse-vertical-navigation>

    <!-- Wrapper -->
    <div class="flex w-full min-w-0 flex-auto flex-col bg-project-splashScreen">

        <!-- Content -->
        <div class="flex flex-auto flex-col bg-white m-4 !ml-0 rounded-[40px]">
            <!-- *ngIf="true" hack is required here for router-outlet to work correctly.
                 Otherwise, layout changes won't be registered and the view won't be updated! -->
            @if (true) {
                <router-outlet></router-outlet>
            }
        </div>
    </div>
}
