<div class="flex flex-col gap-5">

    <div class="flex flex-col justify-center items-center">
        <mat-icon class="w-52 h-22" svgIcon="stop-reward"></mat-icon>
    </div>

    <div class="flex flex-col justify-center items-center">
        <span class="font-semibold text-xl">{{ 'dashboard.stop-confirmation.title' | transloco }}</span>
    </div>

    <div class="flex flex-col justify-center items-center text-center">
        <span class="text-md">{{ 'dashboard.stop-confirmation.body' | transloco }}</span>
    </div>

    <div class="flex flex-row justify-center items-center gap-2.5">
        <button [mat-dialog-close]="true" class="btn border-project-licorice-900 bg-white text-project-licorice-900 text-base font-normal min-h-9 h-9 rounded">{{ 'misc.cancel' | transloco }}</button>
        <button class="btn border-project-red bg-project-red text-white text-base font-normal min-h-9 h-9 rounded" (click)="stopReward()">{{ 'dashboard.stop-confirmation.confirm' | transloco }}</button>
    </div>

    <div class="border-t border-t-project-sideMenu">
        <div class="flex flex-row justify-between items-center mt-3.5">
            <span class="text-sm text-project-waterloo flex items-center">
                {{ 'dashboard.stop-confirmation.footer-message' | transloco }}
            </span>

            <mat-icon class="w-2.5 h-2.5 cursor-pointer" [svgIcon]="'arrow-right'" (click)="redirectToSomewhere()"></mat-icon>
        </div>
    </div>
</div>
